# Backend
DATABASE_URL=postgresql+asyncpg://ev_admin:<PASSWORD>@ev-postgres.c4jkok8wwflz.us-east-1.rds.amazonaws.com:5432/ev_db
REDIS_URL=redis://ev-redis.xxxxxx.0001.use1.cache.amazonaws.com:6379/0
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
COGNITO_USER_POOL_ID=us-east-1_Pj6WH6gva
COGNITO_CLIENT_ID=3ga8tui048sf7envfgii1j42e2
COGNITO_REGION=us-east-1
S3_RECORDINGS_BUCKET=ev-call-recordings-624057415275
S3_MLR_BUCKET=ev-mlr-scripts-624057415275
S3_EXPORTS_BUCKET=ev-exports-624057415275
S3_IMPORTS_BUCKET=ev-hcp-imports-624057415275
SQS_CALL_DISPATCH_URL=https://queue.amazonaws.com/624057415275/ev-call-dispatch.fifo
SQS_CRM_SYNC_URL=https://queue.amazonaws.com/624057415275/ev-crm-sync.fifo
SQS_FOLLOW_UP_URL=https://queue.amazonaws.com/624057415275/ev-follow-up-tasks
CONNECT_INSTANCE_ID=
ENVIRONMENT=development

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_WS_URL=ws://localhost:8000
NEXT_PUBLIC_COGNITO_USER_POOL_ID=us-east-1_Pj6WH6gva
NEXT_PUBLIC_COGNITO_CLIENT_ID=3ga8tui048sf7envfgii1j42e2
NEXT_PUBLIC_COGNITO_DOMAIN=
