$primary: #8550c2;
$secondary: #06081d;
$dark-blue: #29256f;

// text colors
$black: #333333;
$text-second: #494949;
$icon-color: #333d47;
$text-gray: #4d4d57;
$table-text: rgb(73, 73, 73);

// pannel
$panel-header: #eff5ff;

// hover colors
$hover-color: #edf6ff;

// Other Colors
$white: #fff;
$success: #1a8d08;
$green: #73cb57;
$red: #ff4d4f;
$purple: #7e57c2;
$gray: #e0dfdc;

// border
$border: #d9d9d9;
$border-table: #d3d3dd;
$alice-blue: #f5fcff;
$table-bg: #f9f9f9;

// extra colors
$bg-footer: #06081d;
$bg-footer-gray: #d3d3d3;
$bg-gray: #fafafa;
$bg1-gray: #fbfbfb;
$light-gray: #f2f2f2;
$very-light-gray: #f9f9f9;
$light-shade-gray: #ddd;
$alice-light-blue: #f4f7f9;
$dark-gray: #8d8f94;
$caribbean-green: #026ec1;
$dark-charcoal: #333;
$chinese-silver: #ccc;
$white-smoke: #f5f5f5;

// backgrounds primary transparent
$overlay: rgba(0, 0, 0, 0.6);
$primary-transparent: rgba(30, 79, 237, 0.84);
$site-layout-background: #f6f7f8;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
$dashboard-bg: rgb(240, 241, 242);
$grid-color: #d3d3d3;
$gradient-background: linear-gradient(90deg, #f3b605 0%, #ff6b5e);
$default-box-shadow: 0 2px 15px 0 #dcdcdc;

// hover colors
$navigation-hover: rgb(240, 241, 242);

//semi bold
$semibold: bold;

//Additional Colors
$color1: #d08015;
$color2: #cf4343;
$color3: #da1f77;
$color4: #c0399f;
$color5: #6267de;
$color6: #296fb4;
$color7: #10828f;
$color8: #7ca00d;
$color9: #925acf;
$color10: #637a88;
