/* stylelint-disable declaration-colon-newline-after */
.main-header {
  display: block;

  .logo {
    // background: var(--white);
    border-right: 1px solid #5580d1;
    display: flex;
    line-height: 54px;
    text-align: center;
    width: fit-content;

    img {
      height: 54px;
      margin-top: -2px;
    }

    h2 {
      color: var(--white);
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 0;
      overflow: hidden;
      padding-left: 23px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 150px;
    }

    @media (max-width: 767px) {
      border-right: 0;
    }
  }

  .container-menu {
    width: 100%;
  }

  .navigation {
    padding-left: 15px;

    @media (max-width: 900px) {
      display: none;
    }
  }

  .navigation,
  .search,
  .right-profile-menu {
    width: 100%;
  }

  .search {
    .ant-input-affix-wrapper {
      background: var(--white);
      border-radius: 5px;
      height: 31px !important;
      margin-top: 11px;
    }

    .ant-select-selector {
      border-color: var(--white);
    }
  }

  // right menu starts
  .right-profile-menu {
    padding-left: 30px;
    text-align: right;

    .main-profile {
      .profile-name {
        background: var(--secondary);
        border-radius: 50%;
        color: var(--white);
        font-size: 18px;
        height: 31px;
        line-height: 34px;
        margin-right: 0;
        width: 31px;

        @media (max-width: 900px) {
          float: right;
          margin-top: 8px;
        }
      }
    }

    ul {
      border-left: 1px solid #4c8df5;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;

      li {
        display: inline-block;
        line-height: 47px;
        padding: 0 10px;
        vertical-align: middle;

        &:last-child {
          @media (max-width: 800px) {
            display: block;
          }
        }

        a {
          color: var(--white) !important;
        }

        .notification,
        .settings {
          font-size: 19px;
          position: relative;
        }

        .notificatio {
          span {
            background: #f44336;
            border-radius: 50%;
            color: var(--white);
            font-size: 10px;
            height: 15px;
            line-height: 2px;
            padding: 6px 5px;
            position: absolute;
            right: -6px;
            top: 0;
            width: 16px;
          }
        }

        .profile {
          background: #0d83dd;
          border-radius: 50%;
          color: var(--white);
          font-size: 16px;
          height: 25px;
          line-height: 4px;
          padding: 6px;
          width: 24px;
        }

        .profile-image {
          img {
            border-radius: 50%;
            height: 35px;
            line-height: 4px;
            position: relative;
            top: -4px;
            width: 35px;
          }
        }

        .upgrade {
          background: #f96b13;
          border-radius: 5px;
          color: var(--white);
          padding: 8px 20px;
          text-align: center;
        }

        @media (max-width: 800px) {
          display: none;
        }
      }
    }
  }

  // profile section starts here
  .my-profile {
    font-size: 16px;
    width: 100%;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: block;

        a {
          color: var(--dark-charcoal);
          display: block;

          i {
            margin-right: 7px;
          }
        }
      }

      .ant-menu-item i {
        font-size: 15px;
      }
    }
  }

  .ant-popover-title {
    font-size: 15px;
    padding: 0 16px 10px;
  }

  // profile section ends here

  // ant-menu-item changes starts

  .ant-menu {
    float: right;
    padding-right: 30px;
  }

  .ant-menu-item {
    margin: 0 3px !important;
  }

  .ant-menu-item,
  .ant-dropdown-menu-item > a,
  .ant-menu-horizontal > .ant-menu-item a {
    // color: #d6d6d6 !important;
    color: var(--white) !important;
  }

  .ant-dropdown-menu-item:hover,
  .ant-dropdown-menu-submenu-title:hover {
    background: transparent;

    a {
      color: var(--secondary);
    }
  }

  .ant-menu-horizontal {
    border-bottom: 0;
  }

  .ant-dropdown-menu-item > a {
    padding: 5px 18px;
  }

  .ant-menu-item .anticon,
  .ant-menu-submenu-title .anticon {
    margin-right: 0 !important;
  }
}

.ant-dropdown {
  .ant-dropdown-menu-item-group-title {
    color: var(--primary);
    font-weight: bold;
  }
}

// .ant-select-selector {
// border: 1px solid var(--light-gray) !important;
// }

// mega menu

ul.mega-menu {
  display: flex;
  flex-wrap: wrap;
  float: left;
  max-width: 600px;
  min-width: fit-content;
  padding: 20px;

  li.ant-dropdown-menu-item-group {
    float: left;
    min-width: 165px;

    // min-height: 173px;
    padding-bottom: 15px;
    width: 33.333%;

    &:nth-child(3n + 1) {
      clear: both;
    }

    &:nth-child(4),
    &:nth-child(5) {
      min-height: auto;
    }
  }
}

// mega menu ends

// .main-header .search, ends here

.profile-main-menu {
  width: 100%;

  .ant-dropdown-menu-item {
    font-size: 15px;
    padding: 8px 20px;

    a {
      color: #7a7a7a;

      i {
        margin-right: 8px;
      }
    }
  }
}

// accounting-user-profile starts

.accounting-user-profile {
  display: flex;
  padding: 0 5px;
  width: 100%;

  .profile-name {
    border-radius: 50%;
    font-size: 20px;
    height: 40px;
    line-height: 2;
    margin-right: 10px;
    width: 40px;
  }

  .profile-image {
    padding-right: 13px;
    width: 51px;

    img {
      width: 100%;
    }
  }

  &.multiple-department {
    .profile-text {
      h3 {
        font-weight: normal;
        margin-top: 7px;
      }
    }
  }

  .profile-text {
    h3 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 0;
    }

    span {
      color: #1085dd;
      display: block;
      font-size: 13px;
    }
  }
}

// accounting-user-profile ends here

.main-responsive-menu {
  display: none;
  margin-right: 10px;
  margin-top: 5px;

  @media (max-width: 900px) {
    display: block;
  }
}

.accounting-sider-menu {
  background: var(--primary);
  display: none;
  height: fit-content;
  left: 0;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 28px 0;
  position: absolute;
  top: 54px;
  width: 100%;
  z-index: 9;

  li,
  .ant-menu-sub li {
    color: var(--white);
  }

  li {
    &.ant-menu-item-selected {
      background: #080808 !important;
    }

    .ant-menu-sub {
      .ant-menu-item {
        a {
          color: var(--white);

          @media (max-width: 900px) {
            color: var(--black);
            font-size: 15px;
          }
        }
      }
    }

    .ant-menu-item-selected {
      @media (max-width: 900px) {
        background: var(--white) !important;
      }
    }
  }

  .ant-menu-submenu-inline {
    .ant-menu-submenu-title {
      .ant-menu-submenu-arrow::before,
      .ant-menu-submenu-arrow::after {
        @media (max-width: 900px) {
          background-image: -webkit-gradient(
            linear,
            left top,
            right top,
            from(rgba(255, 255, 255, 0.85)),
            to(rgba(255, 255, 255, 0.85))
          );
          background-image: linear-gradient(to right, rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85));
        }
      }
    }
  }

  .ant-menu-item-group-title {
    color: var(--secondary);

    @media (max-width: 900px) {
      font-size: 17px;
      padding-left: 1px !important;
    }
  }

  .ant-menu-item-group-list {
    .ant-menu-item,
    .ant-menu-submenu-title {
      @media (max-width: 900px) {
        font-size: 17px;
        height: 35px;
        padding: 0 !important;
      }
    }

    li {
      @media (max-width: 900px) {
        padding-left: 16px !important;
      }
    }
  }

  .ant-menu-sub {
    .ant-menu-item {
      a {
        @media (max-width: 900px) {
          color: #000 !important;
        }
      }
    }
  }

  .ant-menu-sub.ant-menu-inline {
    @media (max-width: 900px) {
      background: var(--white) !important;
      border: 0;
      margin: 0 auto;
      padding: 20px;
      width: 97%;
    }
  }

  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    @media (max-width: 900px) {
      border-right: 0;
    }
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.default-menu-desktop {
  @media (max-width: 900px) {
    display: none;
  }
}

.default-menu-desktop .ant-dropdown-link {
  padding-left: 10px !important;
}
